<div class="pd15 " [style.margin-top]="showRowLayout?'45px':'0px'">


  <div class="container">
    <div class="row row-md-12 " *ngIf="showRowLayout">
      <div class="row row-md-6 font-title" *ngIf="rsvList" style="width: 85%;">
        Confirmed Schedules

      </div>
      <div class="row row-md-3 font-12" style="width: 15%;" *ngIf="rsvList"> Count: {{rsvList.length}}</div>
      <!-- <div class=" col-md-6" *ngIf="rsvList">
        <div class="col-float-right">
          <button href="#" class="btn btn-primary mg-3" [attr.diabled]="true"
            style="background-color: #FFFFFF; color: #000; width: 100px;">User ID</button>
          :
          <button *ngIf="SERVICE_MODE=='JPA'" href="#" class="btn btn-primary mg-3" [attr.diabled]="true"
            style="background-color: #FFFFFF; color: #000;width: 100px">{{rsvList[0].gskUsersDTO.id}}</button>
          <input *ngIf="SERVICE_MODE=='JPA'" href="#" class="btn btn-primary mg-3" [attr.diabled]="true"
            style="background-color: #FFFFFF; color: #000; " [value]="rsvList[0].gskUsersDTO.email">
          <button *ngIf="SERVICE_MODE=='MONGO'" href="#" class="btn btn-primary mg-3" [attr.diabled]="true"
            style="background-color: #FFFFFF; color: #000;width: 100px">{{rsvList[0].usersDTO.id}}</button>
          <input *ngIf="SERVICE_MODE=='MONGO'" href="#" class="btn btn-primary mg-3" [attr.diabled]="true"
            style="background-color: #FFFFFF; color: #000; " [value]="rsvList[0].usersDTO.email">
        </div>
      </div> -->
    </div>
    <div class="row row-md-12 pd-5 font-12 " style="margin-top: 12px;">
      <div class="row " style="width:100%;">
        <div [class.row]="showRowLayout" style="width:100%;">
          <ng-container *ngFor="let p of rsvList; let i = index">
            <div class="col mg-5">
              <div class="card " style="width: 20rem;">
                <div class="car-body pd-5 crd ">

                  <div class="form-group">
                    <small>Schedule Date:</small>
                    <input type="text" class="form-control font-12" [attr.disabled]="true"
                      [value]="p.startTime.substring(0,p.startTime.indexOf(' '))">
                  </div>

                  <div class="form-group">
                    <small>What:</small>
                    <input [attr.disabled]="true" type="text" class="form-control  font-12" [value]="p.title">
                  </div>
                  <div class="form-group">
                    <small class="">With:</small>
                    <input [attr.disabled]="true" type="text" class="form-control font-12" [value]="p.email">
                  </div>
                  <div class="form-group">
                    <small class="">When:</small>
                    <input [attr.disabled]="true" type="text" class="form-control font-12"
                      [value]=" p.startTime.substring(p.startTime.indexOf(' '),p.startTime.length)">
                    Until:
                    <input [attr.disabled]="true" type="text" class="form-control font-12"
                      [value]="p.endTime.substring(p.endTime.indexOf(' '),p.endTime.length)">
                  </div>

<!-- 
                  <div class="form-group">
                    <small class="">Is Active:</small>
                    <input [attr.disabled]="true" type="text" class="form-control font-12" [value]="p.isActive">
                  </div> -->

                  <div class="form-group">
                    <small class="">Status: :</small>
                    <input [attr.disabled]="true" type="text" class="form-control font-12"
                      [value]="p.isComplete===1?'Completed':p.isCancelled===1? 'Cancelled':p.isMissed===1?'Missed':'Active'">
                  </div>

                  <div class="pd-5 ">
                    <button href="#" class="btn btn-primary mg-3 font-12" (click)="cancel(p)"
                      [class.disabled]="p.isComplete===1|| p.isActive===0">Cancel</button>
                    <button href="#" class="btn btn-primary mg-3  font-12" 
                      [class.disabled]="p.isComplete===1|| p.isActive===0" (click)="markMissed(p)">Missed</button>
                      <button href="#" class="btn btn-primary mg-3  font-12" 
                      [class.disabled]="p.isComplete===1|| p.isActive===0" (click)="markCompleted(p)">Complete</button>
                      <button href="#" class="btn btn-primary mg-3  font-12" 
                       (click)="delete(p)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="(i+1)%3===0" class="w-100"></div>

          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>