<div class="container">
<div class="row row-md-12 " *ngIf="isRowLayout">
  <form [formGroup]="formGroup">

  <div class="row row-md-6" *ngIf="avList">
   
      <!-- {{avList[0].startTime|date:"yyyy-MM-dd"}} -->
      <div class="col-md-3">

      <small>
        <mat-form-field  appearence="fill" *ngIf="!isEditMode">
          <mat-label>Choose a date</mat-label>
          <input 
          matInput 
          [matDatepicker]="picker" 
          (focus)="picker.open()" 
          formControlName="pickedDate"
          name="dateInput"
          [(ngModel)]="dateValue" 
          style="color:rgb(34, 0, 255);"   
          >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      
      </small>
     </div>
     <div class="col-md-3">

        <!-- <input  type="text" [min]="00" [max]="59" value="00" class="form-control"  name="second"
          placeholder="User ID" formControlName="userId" (change)="$event.stopPropagation()"> -->

          <mat-form-field>
            <mat-label>User ID </mat-label>
            <input 
            type="number" 
            [min]="1"  
            value="1" 
            class="form-control" 
            matInput 
            name="hour" 
            placeholder="User ID "  
            formControlName="userId" 
            (change)="$event.stopPropagation()"
            [(ngModel)]="ngUserId"  
              >
          </mat-form-field>
        
  
        </div>
     <div class="col-md-3 " >

      <button 
      class="btn btn-primary" 
      type="submit" 
      (click)="getData()"
      >Search</button>
     </div>

  </div>
</form>

</div>
<div class="row row-md-12 " *ngIf="isRowLayout">
  <availability></availability>
</div>
</div>

